:host {
  --animation-duration: 10s;
  --animation-iteration-count: infinite;
}

:host .nt-marquee {
  display: flex;
  align-items: center;
  overflow: hidden;
}

:host .nt-marquee__content {
  animation: marquee var(--animation-duration, 10s) linear 0s var(--animation-iteration-count, infinite);
}

:host .nt-marquee:hover .nt-marquee__content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}